@import url('utils/variables.css');

@import url('components/buttons.css');


@import url('components/header.css');
@import url('components/hero.css');
@import url('components/articles.css');
@import url('components/footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
}

:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #F9F8FE;
}

html {
    scroll-behavior: smooth;
}

.articles__item:nth-child(2n){
    background-color: var(--grey);
}

main img{
    border-radius: 8px;
}

.actions{
    display: flex;
    align-items: center;
    gap: 13px;
}

.input{
    width: 100%;
    padding: 8px 16px;
    border-radius: 8px;
    height: 40px;
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.icon--large {
    width: 32px;
    height: 32px;
}
