@import url('utils/variables.css');

@import url('components/buttons.css');


@import url('components/header.css');
@import url('components/hero.css');
@import url('components/articles.css');
@import url('components/footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #F9F8FE;
}
