@import url('utils/variables.css');

@import url('components/buttons.css');


@import url('components/header.css');
@import url('components/articles.css');
@import url('components/footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --white: #ffffff;
}

.header {

}

.header__nav {

}

.nav__list {

}

.nav__item {

}

.nav__item--active {

}
