:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --font-accent: 'Montserrat', sans-serif;

    --text-xs: 0.75rem;    /* 12px */
    --text-sm: 0.875rem;   /* 14px */
    --text-base: 1rem;     /* 16px */
    --text-lg: 1.125rem;   /* 18px */
    --text-xl: 1.25rem;    /* 20px */
    --text-2xl: 1.5rem;    /* 24px */
    --text-3xl: 1.875rem;  /* 30px */
    --text-4xl: 2.25rem;   /* 36px */
    --text-16xl: 3.25rem;   /* 52px */
}

body {
    font-family: var(--font-secondary);
    font-weight: 400;
    line-height: 1.6;
    font-size: var(--text-lg);
}

.nav {
    font-family: var(--font-primary);
    font-size: var(--text-base);
}

.title {
    font-family: var(--font-accent);
    font-weight: 700;
    font-size: var(--text-16xl);
    line-height: 1.28;
}

.subtitle{
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 22px;
}

.article__name{
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: var(--text-lg);
}

.block__description{
    font-size: var(--text-base);
}

.btn {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: var(--text-sm);
}
