.article__container{
    padding: 89px 80px;
    display: flex;
    gap: 80px;
}

.article__revolutionize{
    display: flex;
    flex-direction: column;
    margin: 44px 0;
    gap: 21px;
}

.img__revolutionize {
    margin: 22px 0;
}

.revolutionize__blocks{
    display: flex;
    margin-top: 30px;
    gap: 16px;
}

.revolutionize__block{
    display: flex;
    flex-direction: column;
    gap: 19px;
    font-size: var(--text-base);
}

.revolutionize__buttons{
    display: flex;
    align-items: center;
    gap: 13px;
    margin-top: 26px;
}

.article__discover1{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 18px;
}

.discover1__text{
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 848px;
}

.discover1__blocks{
    display: flex;
    gap: 48px;
}

.discover1__block{
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 16px;
}

.discover1__buttons {
    display: flex;
    align-items: center;
    gap: 13px;
}
