/* General styles for articles*/

.articles__item{
    padding: 89px 80px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.article__content{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.article__text{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* Components */

/* Revolutionize article */
.img__revolutionize {
    margin: 23px 0;
}

.revolutionize__blocks{
    display: flex;
}

.revolutionize__block{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-basis: 100%;
    padding-right: 12px;
}

/* Discover 1 article */
.article__discover1{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 20px 0;
    align-items: flex-start;
}

.discover1__text{
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 848px;
}

.discover1__blocks{
    display: flex;
    gap: 48px;
}

.discover1__block{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
/* Discover 2 article */
.discover2__text{
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.img__discover2{
    margin: 22px 0;
}

/* Discover 3 article */
.article__discover3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover3__text{
    text-align: center;
    margin: 9px 0 3px;
}

.discover3__blocks{
    display: flex;
    gap: 48px;
}

.discover3__block{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 6px;
}

/* Statistics Article */
.stats__content{
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding: 3px 0 0;
}

.stats__blocks{
    display: flex;
    gap: 16px;
    margin-bottom: 6px;
}

.stats__block{
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex-basis: 100%;
}

.stats__text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Subscribe  block */
.subscribe{
    display: flex;
    flex-direction: column;
    padding: 89px 80px;
    align-items: center;
    gap: 48px;
}

.subscribe__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 23px;
}

.subscribe__input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;
}

.subscribe__form{
    display: flex;
    gap: 16px;
    min-width: 483px;
}
