/* General styles for articles*/

.articles__item{
    padding: 89px 80px;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: space-between;
}

.article__content{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.article__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5px;
}

/* Components */

/* Revolutionize article */
.img__revolutionize {
    margin: 23px 0;
}

.revolutionize__blocks{
    display: flex;
}

.revolutionize__block{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-basis: 100%;
    padding-right: 12px;
}

/* Discover 1 article */
.article__discover1{
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: flex-start;
}

.discover1__text{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 848px;
}

.discover1__blocks{
    display: flex;
    gap: 48px;
}

.discover1__block{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.discover1__actions{
    margin-bottom: 20px;
}

/* Discover 2 article */
.discover2__text{
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.img__discover2{
    margin: 22px 0;
}

/* Discover 3 article */
.article__discover3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discover3__text{
    text-align: center;
    margin: 9px 0 3px;
}

.discover3__blocks{
    display: flex;
    gap: 48px;
}

.discover3__block{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 6px;
}

/* Statistics Article */
.stats__content{
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding: 4px 0 0;
}

.stats__blocks{
    display: flex;
    gap: 16px;
    margin-bottom: 6px;
}

.stats__block{
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex-basis: 100%;
}

.stats__text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Subscribe  block */
.subscribe{
    display: flex;
    flex-direction: column;
    padding: 89px 80px;
    align-items: center;
    gap: 48px;
}

.subscribe__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 23px;
}

.subscribe__input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;
}

.subscribe__form{
    display: flex;
    gap: 16px;
    min-width: 483px;
}

/* Contact  block */
.contact__text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 4px 0 1px;
}

.contact__block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.directions{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.img__contact{
    margin-top: 209px;
}

/* Adaptivity */
@media (max-width: 1438px) {
    .article__discover3,
    .article__discover1{
        display: flex;
        align-items: center;
    }

    .discover3__blocks,
    .discover1__blocks{
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 calc(50% - 20px);
        justify-content: center;
    }

    .discover3__block,
    .discover1__block{
        max-width: 396px;
    }
}

@media (max-width: 1161px) {
    .articles__item{
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img__contact{
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .articles__item,
    .discover1__blocks,
    .revolutionize__blocks,
    .discover3__blocks,
    .stats__blocks {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .discover3__block,
    .stats__block {
        flex: 1 1 100%;
        max-width: 360px;
    }

    .revolutionize__block,
    .discover1__block {
        flex: 1 1 100%;
    }

    img{
        width: 100%;
        height: auto;
    }

    .subscribe__form{
        min-width: 100%;
    }
}
