.footer,
.articles__item{
    padding: 89px 80px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.hero__actions,
.contact__actions,
.article__actions{
    display: flex;
    align-items: center;
    gap: 13px;
}

.article__revolutionize{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 561px;
}

.img__revolutionize {
    margin: 22px 0;
}

.revolutionize__blocks{
    display: flex;
    margin: 30px 0 26px;
    gap: 16px;
}

.revolutionize__text{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.revolutionize__block{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.article__discover1{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 20px 0;
}

.discover1__text{
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 848px;
}

.discover1__blocks{
    display: flex;
    gap: 48px;
}

.discover1__block{
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 16px;
}

.article__discover2{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.discover2__text{
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.img__discover2{
    margin: 22px 0;
}
