.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
    background-color: inherit;
}

.btn--primary {
    padding: 8px 24px;
    border-radius: 8px;
    border: 1px solid var(--black);
    background: var(--white);
}

.btn--primary:hover {
    padding: 8px 24px;
    border-radius: 8px;
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--black);
}

.btn--secondary {
    padding: 8px 24px;
    border-radius: 8px;
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--black);
}

.btn--secondary:hover {
    padding: 8px 24px;
    border-radius: 8px;
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--black);
}
