.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
    background-color: inherit;
    white-space: nowrap;
}

.btn--primary {
    padding: 8px 24px;
    border-radius: 8px;
    border: 1px solid var(--black);
    background: none;
}

.btn--primary:hover {
    padding: 8px 24px;
    border-radius: 8px;
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--black);
}

.btn--secondary {
    padding: 8px 24px;
    border-radius: 8px;
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--black);
}

.btn--secondary:hover {
    padding: 8px 24px;
    border-radius: 8px;
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--black);
}

.btn--arrow {
    position: relative;
    padding-right: 35px;
}

.btn--arrow::after {
    content: "";
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.64817 16.4222C9.46817 16.4222 9.29817 16.3522 9.16817 16.2122C8.92817 15.9422 8.94817 15.5322 9.20817 15.2922L12.7013 12.146L9.21207 9.12817C8.94207 8.88817 8.93207 8.47818 9.17207 8.20817C9.41207 7.94818 9.82207 7.92817 10.0921 8.16817L14.0713 11.626C14.3813 11.906 14.3813 12.386 14.0713 12.666L10.0882 16.2522C9.95817 16.3722 9.80817 16.4222 9.64817 16.4222Z" fill="black"/> </svg>');
    background-repeat: no-repeat;
    background-position: right center;
}

.btn--arrow:hover {
    transform: translateY(-20%);
}
