/* Кнопки */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn--primary {
    border: 1px solid var(--black);
    background: var(--white);
    border-radius: 8px;
}

.btn--primary:hover {
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--black);
}

.btn--secondary {
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--black);
    border-radius: 8px;
}

.btn--secondary:hover {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--black);
    border-radius: 8px;
}
