.footer{
    padding: 89px 80px;
    height: 567px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.footer__content{
    display: flex;
    flex-direction: column;
    gap: 48px;
    flex-basis: 50%;
}

.footer__text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.footer__input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.footer__form{
    display: flex;
    min-width: 599px;
    gap: 16px;
}

.footer__blocks{
    display: flex;
    margin-top: 2px;
    gap: 85px;
    flex-basis: 50%;
    align-items: center;
}

.footer__block{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social__media{
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1420px) {
    .footer{
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .footer__blocks{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1 1 calc(50% - 20px);
    }

    .footer__block{
        display: flex;
        align-items: center;
    }

    .footer__form{
        width: auto;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        min-width: 100%;
    }

    .footer__content{
        flex-basis:100%
    }

    .footer .subtitle{
        white-space: nowrap;
    }
}
