.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero__container{
    display: flex;
    justify-content: space-between;
    padding: 77px 80px;
}

.hero__title{
    flex-grow: 0.5;
}

.hero__content{
    flex-grow: 0.5;
    max-width: 599px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.hero__btn{
    display: flex;
    gap: 14px;
}
