.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero__container{
    display: flex;
    justify-content: center;
    padding: 80px;
}

.hero__title{
    flex-grow: 0.5;
}

.hero__content{
    flex-grow: 0.5;
    max-width: 599px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero__btn{
    display: flex;
    gap: 16px;
}
