.hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
}

.hero__item{
    display: flex;
    justify-content: space-between;
    padding: 77px 80px;
}

.hero__content{
    flex-grow: 0.5;
    max-width: 599px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

@media (max-width: 768px) {
    .hero__item{
        flex-wrap: wrap;
        gap: 22px;
    }
}
